<div class="">

	<div class="social-footer text-center">			
		<a class="socialImage" href="https://www.facebook.com/DataCrowder" target="_blank">
			<img src="modules/core/img/social/facebook.svg" height="32" width="32">
		</a> 
		<a class="socialImage" href="https://twitter.com/DataCrowder" target="_blank">
			<img src="modules/core/img/social/twitter.svg" height="32" width="32">
		</a> 
		<a class="socialImage" href="https://plus.google.com/118047232844522760323" target="_blank">
			<img src="modules/core/img/social/google.svg" height="32" width="32">
		</a>	
	</div>
</div>