<div class="">

	<div class="social-footer text-center">	
		<a class="social-image" href="https://www.facebook.com/DataCrowder" target="_blank">
			<img src="modules/core/img/social/Facebook-footer.png">
		</a> 
		<a class="social-image" href="https://twitter.com/DataCrowder" target="_blank">
			<img src="modules/core/img/social/twitter-footer.png">
		</a> 
		<a class="social-image" href="https://plus.google.com/118047232844522760323" target="_blank">
			<img src="modules/core/img/social/Google-footer.png">
		</a>	
	</div>

	<div class="menu-footer text-center">
		<div class="row">
			<a class="footer-link" href="/#!/about">About us</a>
			<a class="footer-link" href="/#!/about">Terms & conditions</a>
			<a class="footer-link" href="/#!/about">Privacy</a>
			<a class="footer-link" href="/#!/about">Help</a>
		</div>
		<div class="row">
			Copyright @ 2015 DataCrowder. All rights reserved.
		</div>
	</div>
</div>