<div class="">

	<div class="social-footer text-center">			
		<a class="social-image" href="https://www.facebook.com/DataCrowder" target="_blank">
			<img src="modules/core/img/social/Facebook-footer.png">
		</a> 
		<a class="social-image" href="https://twitter.com/DataCrowder" target="_blank">
			<img src="modules/core/img/social/twitter-footer.png">
		</a> 
		<a class="social-image" href="https://plus.google.com/118047232844522760323" target="_blank">
			<img src="modules/core/img/social/Google-footer.png">
		</a>	
	</div>
</div>