<section data-ng-controller="HomeController">
	<div class="particles-light">
		<div class="text-center">
			<div class="row">
				<h1>
					HELLO WORLD	
				</h1>
			</div>
			<div class="row">
				<div class="intro-line"></div>
			</div>
			<div class="row">
				Mauris convallis mauris erat, eget fringilla nibh condimentum non. Proin porta eu elit sit amet blandit.
			</div>
		</div> 
	</div>

	<div class="social-footer text-center">			
		<a class="socialImage" href="https://www.facebook.com/DataCrowder" target="_blank">
			<img src="images/facebook.svg" height="32" width="32">
		</a> 
		<a class="socialImage" href="https://twitter.com/DataCrowder" target="_blank">
			<img src="images/twitter.svg" height="32" width="32">
		</a> 
		<a class="socialImage" href="https://plus.google.com/118047232844522760323" target="_blank">
			<img src="images/google.svg" height="32" width="32">
		</a>	
	</div>
</section>
