.content {
	padding-top: 100px;
	padding-bottom: 200px;
	height: 100%;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

/* Added */

/* General */

section {
	min-height: 100%;
	height: 100%;
}

html, body {
	height: 100%;
	/*min-width: 600px;*/
}

.row {
	margin-left: 0;
	margin-right: 0;
}


/* Navbar */ 
.navbar-inverse {
	background-image: none;
	border-color: white;
}

.navbar {
	min-height: 100px;
}

.navbar-fixed-bottom {
	background-color: #f8f8f8;
	min-height: 200px;
}

.navbar-fixed-top {
	background-color: #ffffff;
}

.transparent-button {
	background: transparent;
	box-shadow: none;
	border-color: transparent;
}

.social-footer {
	background-color: #ffffff;
	height: 100px;
	padding-top: 40px;
}

.social-footer > a:hover {
	text-decoration: none;
}

.social-image {
	margin-left: 20px;
	margin-right: 20px;
}

.menu-footer {
	padding-top: 30px;
	color: #4b4b4b;
	font-family: OpenSans;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}

.footer-link {
	margin-left: 20px;
	margin-right: 20px;
	color: #4b4b4b;
}

/* Home */

.intro-line {
    background: none repeat scroll 0 0 rgb(244, 21, 53);
    height: 4px;
    top: 38%;
    width: 80px;    
    position: relative;
    display: inline-block;
}

.particles-light {   
	height: 100%;
    background-image: url("../img/home/home_background.png");
    background-repeat: no-repeat;
    background-size: 100% 78.57%;
 	color: white;
}

.homepage-text {
	font-family: OpenSans;
	color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;   
}

.homepage-text-large {
	font-size: 80px;
	font-weight: 700;
	line-height: 30px;
	padding-bottom: 30px;
}

.homepage-text-small { 
	padding-top: 30px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.home-margin {
	height: 13%;
}

.feed-pictures {
	height: 40%;
	bottom: 0;
    /*margin-top: 15%;*/
}

.feed-tab {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.black {
	background-color: black;
	height: 100%;
    padding-right: 0;
    padding-left: 0;
}

.feed-tab:hover {
    opacity: 0.85;	
}

.feed-text {
    font-family: Karbon;
	color: #f41535;
	text-align: center;
	font-weight: 700;
	height: 100%;
	font-size: 14px;
	line-height: 18px;
	padding-top: 10%;
}

.feed-text-large {
	font-size: 36px;
	line-height: 30px;
}

.berlin-feed {
    background-image: url("../img/home/berlinphoto.jpg");
    margin-right: 1px;
}

.london-feed {
    background-image: url("../img/home/londonphoto.jpg");

}

.feed-photo-text {
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;    
	margin-top: 3%;
}

.margin1 {
	height: 15%;
}

.margin2 {
	height: 12%;
}

/* Small width */
@media (max-width: 700px), (max-height: 800px){
	
	.homepage-text-large {
		font-size: 40px;
		padding-bottom: 15px;
	}

	.homepage-text-small { 
		font-size: 15px;
		padding-top: 15px;
	}

	.feed-photo-text {
		height: 30%;
	}

	.feed-text {
		font-size: 10px;
		line-height: 12px;
		padding-top: 25%;
	}

	.feed-text-large {
		font-size: 24px;
		line-height: 10px;
	}
}


/* Small height */
@media (max-height: 700px) {
	
}