.content {
	padding-top: 80px;
	padding-bottom: 80px;
	height: 100%;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

/* Added */

.intro-line {
    background: none repeat scroll 0 0 #f41535;
    height: 4px;
    top: 38%;
    width: 80px;    
    position: relative;
    display: inline-block;
}

.particles-light {   
	height: 100%;
    background-image: url("../img/bg/bg9.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
 	color: white;
}

.social-footer {
	background-color: gray;
	height: 50px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}


/* Navbar */ 
.navbar-inverse {
	background-image: none;
	background-color: white;
	/*border-color: white;*/
}

.navbar {
	min-height: 80px;
}

section {
	min-height: 100%;
	height: 100%;
}

html, body {
	height: 100%;
}

.transparent-button {
	background: transparent;
	box-shadow: none;
	border-color: transparent;
}