.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

/* Added */

.intro-line {
    background: none repeat scroll 0 0 #f41535;
    height: 4px;
    top: 38%;
    width: 80px;    
    position: relative;
    display: inline-block;
}

.particles-light {   
	height: 60%;
    background-color: lightblue;
}

.social-footer {
	background-color: gray;
	height: 50px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}