<section data-ng-controller="CrudController" data-ng-init="getRegions()">
    <div class="page-header">
        <h1>New Project</h1>
    </div>
    <div class="col-md-12">
        <form name="projectform" class="form-horizontal" data-ng-submit="projectform.$valid && create()" novalidate>
            <fieldset>
                <!-- Headline -->
                <div class="form-group">
                    <label class="control-label" for="headline">Headline</label>
                    <div class="controls">
                        <input type="text" data-ng-model="headline" id="headline" class="form-control" placeholder="Headline" required>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                </div>

                <!-- Question -->
                <div class="form-group" ng-repeat="question in questions">
                    <!-- Question text -->
                    <label class="control-label" for="question">Question</label>
                    <div class="controls">
                        <input type="text" data-ng-model="question.text" id="question" class="form-control" placeholder="Question" required>
                    </div>
                    
                    <!-- Question type -->
                    <label class="control-label" for="typeSelector">Type</label>
                    <select class="form-control" ng-model="question.type" ng-options="type as type for type in questionTypes" 
                        id="typeSelector" ng-change="changeType(this, $index)"></select>

                    <!-- Responses -->

                    <!-- Non-interval response -->
                    <div ng-if="question.type && question.type != 'interval'">
                        <div ng-repeat="response in question.responseData">

                            <!-- Response text -->
                            <label for="response">Response {{$index + 1}}</label>
                            <input type="text" ng-model="response.text" id="response" placeholder="Response" required>

                            <!-- Remove response -->
                            <a class="btn btn-primary" ng-if="question.responseData.length > 2" ng-click="removeResponse(question, $index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>

                        </div>

                        <!-- Add response -->
                        <button type="button" ng-click="addResponse(question)" ng-if="question.responseData.length > 0" class="btn btn-default">Add response</button>
                    </div>

                    <!-- Interval response -->
                    <div ng-if="question.type == 'interval'">
                        <!-- Start value -->
                        <label for="startValue">Start value</label>
                        <input type="text" ng-model="question.startValue" id="startValue" placeholder="Start value" required>

                        <!-- End value -->
                        <label for="endValue">End value</label>
                        <input type="text" ng-model="question.endValue" id="endValue" placeholder="End value" required>

                        <!-- Number of intervals -->
                        <label for="elements">Step size</label>
                        <input type="text" ng-model="question.responseData[0].text" id="size" placeholder="Size" required>
                    </div>

                    
                    <!-- Remove question -->
                    <a class="btn btn-primary" ng-if="questions.length > 1" ng-click="removeQuestion(this, $index)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>

                <!-- Gender group -->
                <div class="form-group">
                    <label class="control-label" for="genderSelector">Gender group</label>
                    <select class="form-control" ng-model="genderGroup" ng-options="gender as gender for gender in genderTypes" id="genderSelector"></select>
                </div>

                <!-- Region -->
                <div class="form-group">
                    <label class="control-label" for="regionSelector">Region</label>
                    <select class="form-control" ng-model="region" ng-options="region._id as region.name for region in regions" id="regionSelector" required></select>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <!-- Add question -->
                    <button type="button" ng-click="addQuestion(this)" class="btn btn-default">Add question</button>

                    <!-- Submit form -->
                    <input type="submit" class="btn btn-default" value="Submit">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
