<section data-ng-controller="CrudController" data-ng-init="getProject()">
    <div class="page-header">
        <h1>Edit Project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <!-- Headline -->
                <div class="form-group">
                    <label class="control-label" for="headline">Headline</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.headline" id="headline" class="form-control" placeholder="Headline" required>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                </div>

                <!-- Conclusion -->
                <div class="form-group" data-ng-show="project.closed == true">
                    <label class="control-label" for="conclusion">Conclusion</label>
                    <div class="controls">
                        <textarea data-ng-model="project.conclusion" id="conclusion" class="form-control" placeholder="Conclusion"></textarea>
                    </div>
                </div>

                <!-- Status -->
                <div class="form-group">
                    <label class="control-label" for="status">Status</label>
                    <select id="status" ng-model="project.closed" ng-options="status.value as status.name for status in statusTypes"></select>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>

        <h4>Responses: {{project.questions[0].responses.length}}</h4>
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</section>
