<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <!-- Headline -->
                <div class="form-group">
                    <label class="control-label" for="headline">Headline</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.headline" id="headline" class="form-control" placeholder="Headline" required>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="project.description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                </div>

                <!-- Question -->
                <div class="form-group" ng-repeat="question in project.questions">
                    <!-- Question text -->
                    <label class="control-label" for="question">Question</label>
                    <div class="controls">
                        <input type="text" data-ng-model="question.text" id="question" class="form-control" placeholder="Question" required>
                    </div>

                    <!-- Question type -->
                    <label class="control-label" for="typeSelector">Type</label>
                    <select class="form-control" ng-model="question.type" ng-options="type as type for type in questionTypes" 
                        id="typeSelector" ng-change="changeType($index)"></select>

                    <!-- Remove question -->
                    <a class="btn btn-primary" ng-if="project.questions.length > 1" ng-click="removeQuestion(project, $index)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>

                <!-- Status -->
                <div class="form-group">
                    <label class="control-label" for="status">Status</label>
                    <select id="status" ng-model="project.closed" ng-options="status.value as status.name for status in statusTypes"></select>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <!-- Add question -->
                    <button type="button" ng-click="addQuestion(project)" class="btn btn-default">Add question</button>

                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
