<section data-ng-controller="ListController" data-ng-init="feed()" class="padding-content particles-light repeat-background">
    <div class="type-selection-div form-group">
        <div class="type-option-div col-xs-6">
            <a ng-click="changeType(false)" class="type-link">BROWSE OPEN PROJECTS</a>
        </div>
        <div class="type-option-div col-xs-6">
            <a ng-click="changeType(true)" class="type-link">BROWSE STORIES</a>
        </div>
    </div>

    <div class="feed-list row no-gutters">
        <div class="col-sm-6 col-xs-12 " data-ng-repeat="project in projects">
            <div class="project-item list-group-item" style="background-image: url('modules/projects/img/project_cover.jpg')">
                <!-- style="background-image: url('modules/projects/img/{{project.cover}}')" -->
                <a data-ng-href="#!/projects/{{project._id}}" class="over"></a>
                {{console.log(project)}}
                <div class="project-item-container">
                    <span class="line{{project.closed == true ? ' closed' : ''}}"></span>
                    <h2>
                        {{project.headline}}
                    </h2>
                    <span class="status {{project.closed == true ? ' closed' : ''}}">{{project.closed == true ? "Validated research":"Active now"}}</span>
                    <ul>
                        <li>{{project.comments.length}} {{project.comments.length == 1 ? "comment":"comments"}}</li>
                        <li>{{project.questions[0].responses.length}} {{project.questions[0].responses.length == 1 ? "response":"responses"}}</li>
                    </ul>
                    <div class="progress">
                        <span style="width: {{project.questions[0].responses.length*0.3333}}%"></span>
                        <em>{{project.questions[0].responses.length}} backers / 300</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<div class="clearfix"></div>
<div class="create-project-div">
    <div class="row blue-text">Feeling curious or starstruck?</div>
    <div class="row red-text">CREATE A PROJECT</div>
    <a href="/#!/projects/create">
        <img src="modules/core/img/navbar/create-project.png">
    </a>
</div>
