<section data-ng-controller="ListController" data-ng-init="feed()">
    <div class="padding-content particles-light repeat-background">
        <div class="type-selection-div form-group">
            <div class="type-option-div col-xs-5 col-xs-offset-1">
                <a ng-click="changeType(false)" class="type-link">BROWSE OPEN PROJECTS</a>
            </div>
            <div class="type-option-div col-xs-5 col-xs-offset-1">
                <a ng-click="changeType(true)" class="type-link">BROWSE STORIES</a>
            </div>
        </div>
        
        <div class="feed-list">
            <a data-ng-repeat="project in projects" data-ng-href="#!/projects/{{project._id}}" class="project-item col-sm-6 col-xs-12 list-group-item" 
                style="background-image: url('modules/projects/img/project_cover.jpg')"> 
                <!-- style="background-image: url('modules/projects/img/{{project.cover}}')" -->
                <div class="project-item-headline"> 
                    {{project.headline}}
                </div>
                <h5>{{project.closed == true ? "Validated research":"Active now"}}</h5>
                <h5>{{project.comments.length}} {{project.comments.length == 1 ? "comment":"comments"}} | 
                    {{project.questions[0].responses.length}} {{project.questions[0].responses.length == 1 ? "response":"responses"}}
                    </h5>
            </a>
        </div>
             <div class="clearfix visible-xs-block"></div>

        <div class="create-project-div">
            <div class="row blue-text">Feeling curious or starstruck?</div>
            <div class="row red-text">CREATE A PROJECT</div>  
            <a href="/#!/projects/create">
                <img src="modules/core/img/navbar/create-project.png">
            </a>      
    </div>   
    </div>
</section>